.data {
    // background: #dc1819;
    // padding: 0;
    // overflow-x: hidden;
    padding: 32px 0 0;
    overflow-x: clip;
    .kaka {
        margin: initial !important;
    }
    .imgs {
        position: absolute;
        top: -51px;
        width: 100%;
        // height: 50vh;
        @media screen and (max-width: 766px) {
            height: 433px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            // background: linear-gradient(to top, $red, transparent);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .prediksi {
        position: relative;
        // overflow-x: hidden;
        height: 100vh;
        width: 100%;
        z-index: 7;
        // background: black;
        .vs {
            position: relative;
            top: 50px;
            font-weight: 200;
        }
        .skor {
            position: absolute;
            top: 40%;
            width: 100vw;
            height: 60%;
            // border: 1px solid;
            // left: 0%;
            // height: fit-content;
            // background: rgba(black, .6);
            text-align: center;
            margin: 0 auto;
            padding: 100px 0 0;
            @media screen and (max-width: 766px) {
                padding: 32px 0;
            }
            .imgg {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    // border-top: 3px solid white;
                    background: linear-gradient(to top, black, rgba(black, .5), black);
                }
                // opacity: .2;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .lines {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: auto;
                top: initial;
                bottom: 90%;
                @media screen and (max-width: 766px) {
                    top: -160px;
                    bottom: initial;
                }
                @media screen and (max-width: 375px) {
                    top: -150px;
                    bottom: initial;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .boxs {
                width: 240px;
                height: 240px;
                background: rgba(white, .7);
                margin: 16px auto;
                font-size: 3rem;
                @media screen and (max-width: 766px) {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
    &-garis {
        border: 1px solid;
        width: fit-content;
        padding: 8px;
        margin: 8px;
        h4 {
            color: white !important;
            font-size: 1.3rem !important;
        }
        ul {
            padding: 0 24px;
        }
    }
    .fit {
        width: fit-content;
    }
    .imgd {
        position: absolute;
        // right: -10vw;
        // top: -4vh;
        width: 120px;
        height: 120px;
        background: linear-gradient(to top, #ccc, white);
        border-radius: 50%;
        padding: 16px;
        top: -25px;
        left: -25px;
        @media screen and (max-width: 766px) {
            width: 120px;
            height: 120px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-merah {
        background: rgba(white, 1);
        width: fit-content;
        padding: 8px;
        color: $red;
        position: relative;
        border-radius: 16px;
        margin: 24px 8px;
        .hm {
            margin-left: 100px;
        }
        p {
            margin-bottom: 0;
        }
        .boldx {
            font-size: 2rem;
            font-weight: bold;
        }
        h4 {
            font-size: 1.3rem !important;
            color: $red !important;
            margin-bottom: 0 !important;
            @media screen and (max-width: 766px) {
                font-size: 1.2rem !important;
            }
        }
    }
    .pelatih {
        border: 5px solid black;
        border-radius: 16px;
        box-shadow: 10px 10px #b9b1b2;
        // height: 240px !important;
        height: 75vh !important;
        @media screen and (max-width: 766px) {
            box-shadow: 5px 5px #b9b1b2;
            height: 75% !important;
        }
        img {
            border-radius: 12px;
        }
    }
    .no-rotate {
        transform: initial !important;
    }
    .titlesa {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        z-index: 4;
        &::before {
            content: "";
            position: absolute;
            top: 16px;
            bottom: 0;
            z-index: -1;
            right: -8px;
            width: 100%;
            height: 80%;
            background: #111;
        }
    }
    .img-sup {
        width: 100%;
        height: 320px;
        border: 8px solid #ccc;
        border-radius: 16px;
        transform: rotate(-2deg);
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
    .img-col {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h4 {
        font-size: 2rem;
        font-weight: 600;
        color: #cecece;
        @media screen and (max-width: 766px) {
            font-size: 1.6rem;
        }
    }
    .konten-img {
        width: 100%;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .img {
        width: 50%;
        height: 320px;
        position: absolute;
        left: 0;
        z-index: 3;
        bottom: 0;
        @media screen and (max-width: 766px) {
            overflow-x: hidden;
            height: 270px;
            // right: -24px;
        }
        // border: 2px solid white;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 766px) {
                object-fit: cover;
            }
        }
    }
    .img-wash {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.haha {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to top, $red, rgba($red, .9), $red);
                @media screen and (max-width: 766px) {
                    background: linear-gradient(to top, $red, rgba($red, .8), $red);
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $red, rgba($red, .8), $red);
        }
    }
    .helping {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        // background: linear-gradient(to top, rgba(#dc1819, .8), #dc1819, rgba(#dc1819, .8));
        background: rgba($color: rgba(#dc1819, 1), $alpha: .8);
    }
    .kiper {
        width: 100%;
        height: 100vh;
        // position: absolute;
        // inset: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .all {
        display: block;
        width: 680px;
        margin: 64px auto 0;
        @media screen and (max-width: 766px) {
            width: auto;
        }
        .side-play {
            display: inline-block;
            width: 43%;
            background-position: bottom;
            height: 200px;
            background-size: contain;
            background-image: url(../img/bg.png);
            vertical-align: middle;
            border-radius: 16px;
            border: 2px solid #fff;
            position: relative;
            .position {
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 600;
                display: none;
                background: white;
                color: #dc1819;
                // border-radius: 16px 0 0 0;
                padding: 0 8px;
            }
            .name {
                position: absolute;
                bottom: 0;
                font-weight: 600;
                left: 0;
                border-radius: 0 0 16px 16px;
                right: 0;
                height: 24px;
                font-size: 1rem;
                z-index: 8;
                // backdrop-filter: blur(12px);
                background: rgba($color: white, $alpha: .7);
                color: #dc1819;
                text-align: center;
                @media screen and (max-width: 766px) {
                    font-size: .85rem;
                }
            }
            .img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 115%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .centerx {
            display: inline-block;
            margin: 0 8px;
            vertical-align: middle;
        }
    }
    .min100 {
        height: 100vh;
    }
    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        // display: none;
        opacity: .3;
        height: 100%;
        // filter: grayscale(100%);
        &.o6 {
            opacity: .6 !important;
        }
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $red, rgba($red, .7), $red);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes MoveUpDown1 {
    0%,
    100% {
        top: 10px;
    }
    50% {
        top: 25px;
    }
}

.sticky-img {
    position: sticky;
    top: 24px;
    // left: 0;
    // animation: MoveUpDown1 1.5s linear infinite;
}

.bg-help-teks {
    background: rgba($color: $red, $alpha: .8);
    h4 {
        color: white;
    }
}

.table-messi {
    td {
        &:first-child {
            font-size: .8rem;
        }
        &:nth-child(2) {
            padding: 0 2px;
        }
        &:last-child {
            font-size: 1.2rem;
        }
    }
}