.pembukaan {
    padding: 52px 0;
    min-height: auto;
    @media screen and (max-width: 766px) {
        // padding: 32px 0 100px;
    }
    .imgg {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        // top: initial;
        z-index: 4;
        bottom: 0px;
        display: none;
        @media screen and (max-width: 766px) {
            // top: -160px;
            display: block;
            // bottom: initial;
        }
        @media screen and (max-width: 375px) {
            // top: -150px;
            display: block;
            // bottom: initial;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bgs {
        position: absolute;
        inset: 0;
        width: 100%;
        // display: none;
        opacity: 1;
        height: 100%;
        z-index: 2;
        @media screen and (max-width: 766px) {
            // height: 80%;
            height: 99%;
        }
        &::before {
            content: '';
            position: absolute;
            // inset: 0;
            height: 10vh;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, $red 20%, transparent);
            // background: white;
            @media screen and (max-width: 766px) {
                content: '';
                display: none;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        // display: none;
        opacity: .3;
        height: 100%;
        // filter: grayscale(100%);
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $red, rgba($red, .7), $red);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes MoveUpDown {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: 25px;
    }
}

.gambar {
    &_bottom {
        animation: MoveUpDown 3s linear infinite;
        position: absolute;
        bottom: 0;
        left: 0;
        // right: 0;
        width: auto;
        height: 35vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}