.pembukaan {
    padding: 52px 0;
    @media screen and (max-width: 766px) {
        // padding: 32px 0 100px;
    }
    .bgs {
        position: absolute;
        inset: 0;
        width: 100%;
        // display: none;
        opacity: 1;
        height: 100%;
        z-index: 2;
        @media screen and (max-width: 766px) {
            // height: 80%;
        }
        &::before {
            content: '';
            position: absolute;
            // inset: 0;
            height: 10vh;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, $red 20%, transparent);
            @media screen and (max-width: 766px) {
                content: '';
                position: absolute;
                height: 10vh;
                left: 0;
                right: 0;
                bottom: 0px;
                // transform: skew(2deg, 2deg);
                background: linear-gradient(to top, #87232b 30%, transparent);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        // display: none;
        opacity: .3;
        height: 100%;
        // filter: grayscale(100%);
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $red, rgba($red, .7), $red);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes MoveUpDown {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: 25px;
    }
}

.gambar {
    &_bottom {
        animation: MoveUpDown 3s linear infinite;
        position: absolute;
        bottom: 0;
        left: 0;
        // right: 0;
        width: auto;
        height: 35vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}